body {
    background-image: url(./images/lamborghini.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.box {
    border: 1px solid red;
    margin-bottom: 10px;
    width: 400px;
    height: 250px;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 5px;
    /* border-radius: 50%; */
}
.box-1 {
    background-color: red;
    background-image: url(./images/lamborghini.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box-2 {
    background-color: yellow;
    background-image: url(./images/porsch.jfif);
    background-repeat: no-repeat;
    background-size: contain;
}

.box-3 {
    background-color: green;
    background-image: url(./images/BMW.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
.box-4 {
    background-color: red;
    background-image: url(./images/mmers.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
.box-5 {
    background-color: yellow;
    background-image: url(./images/cobolt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box-6 {
    background-color: green;
    background-image: url(./images/Tahoe.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
.box-7 {
    background-color: red;
    background-image: url(./images/Bugati.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
.box-8 {
    background-color: yellow;
    background-image: url(./images/ferari.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box-9 {
    background-color: green;
    background-image: url(.);
    background-size: cover;
    background-repeat: no-repeat;
}